.navbar-default {
  background-color: white;
}

.navbar-header {
  width: 40%;
  height: 150px;
  padding:0;
}

.navbar-brand {
  margin:0;
  width: 100%;
  height: 100%;
  padding:0;
  display: inline;
  background-color: white;
}

.navbar-brand img {
  width: 50%;
  height: 100%;
  margin:0;
  display: inline;
}

#venture_img {
  height: 50%;
  margin-top:50px;
}

  .navbar-vego > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:20px;
  font-weight: bold;
  background-color: #66b65d;
  color: #262727;
  border-right:1px solid #ccc;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.navbar-nav > .lastItem  > a {
  border-bottom-right-radius:2em;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e2ece5;
  background-color: #156d1b;
}

.navbar-default .navbar-nav > .firstItem > a {
  border-top-left-radius:2em;
}

.navbar-default .navbar-nav > .lastItem {
  border-bottom-right-radius: 2em;  
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e2ece5;
  background-color: #156d1b;
}
.navbar-default .navbar-toggle {
  border-color: #156d1b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #156d1b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #262727;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #262727;
}

@media (min-width: 768px) {
  .navbar-nav {
      margin-top:80px;
      width: 60%;
      float: right;
  }

  .navbar-nav li {
    float: right;
  }


}

@media (max-width: 767px) {
  .navbar-header {
    width: 100%;
    height: 150px;
    margin:0;
    padding:0;
  }

  .navbar-brand {
    margin:0;
    width: 80%;
    height: 100%;
    padding:0;
    display: inline;
    background-color: white;
  }

  .navbar-brand img {
    width: 40%;
    height: 100%;
    margin:0;
    display: inline;
  }

  #venture_img {
    height: 50%;
    margin-top:50px;
  }

  .navbar-toggle {
    margin:0;
    top:50px;
  }
}

#topContainer {
  background-image: url("images/background.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
}

#topRow {
  margin-top:100px;
  text-align:center;
}

//Carousel
#myCarousel {
  margin-top:0px;
}

.carousel h1 {
  font-size:3em;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-caption > .container {
  width:100%;
  height:100%;
  text-align: center;
  padding:230px;
}

.carousel-caption > .container > .row {
  display: inline-block;
  vertical-align: middle;
}

.carousel-caption > .container > .row > p {
  margin-top:30px;
}


.btn-join {
  background-color: transparent;
  color:white;
  border:1px solid white;
}

.btn-join:hover, .btn-join:focus {
  font-weight: bold;
  background-color: white;
  color:black;
}

.carousel .item{
  height:600px;
  background-color:#777;
}

.carousel-inner > .item > img{
  position:absolute;
  top:0;
  left:0;
  min-width:100%;
  height: 600px;
}

section {
  color: #737373;
}

.jumptarget::before {
  content:"";
  display:block;
  height:115px; /* fixed header height*/
  margin:-115px 0 0; /* negative fixed header height */
}

//Content Section
.content-section {
  padding: 70px 0 40px;
}

//About Section
#about {
  width:100%;
  padding:0;

}

.about-section {
  margin:0;
 }

.about-section > .container {
  width:100%;
  margin:0;
  background-color: #8AF1CD;
  padding-top:50px;
  padding-bottom: 50px;
}

.about-section > .container > p {
  font-size: 1.5em;
}

//Food Section
#food {
  width:100%;
  margin-top:100px;
}

.food-section {
  width:100%;
  margin:0;
 }

.food-section > .container {
  width:100%;
  height:auto;
  margin:0;
  background-color: #8AF1CD;
  padding-top:120px;
  padding-bottom: 100px;
  text-align: center;
  background:url("../images/bibimbap.jpg") no-repeat center scroll;
  background-color:@dark;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

/*.food-section > .container > .row {
  padding-top: 50px;
  padding-left: 70px;
}
*/
#col-food {
  background-color: white;
  padding: 80px 40px 80px 40px;
  height:400px;
}


#col-food > p {
  font-size: 1.2em;
}

#col-excitment {
  background-color:#ace600;
  padding: 80px 40px 80px 40px;
  height:400px;
}

#col-excitment > p {
  font-size: 1.2em;
}

//Service Section
#service {
  width:100%;
  padding:0;
}

.service-section {
  margin:0;
 }

.service-section > .container {
  width:100%;
  margin:0;
  background-color: #ffcccc;
  padding-top:50px;
  padding-bottom: 50px;
}

.service-section > .container > p {
  font-size: 1.5em;
}

//Vegan Tour Video Section
#tour-video {
  width:100%;
  padding:0;
}

.tour-video-section {
  margin:0;
 }

.tour-video-section > .container {
  width:100%;
  margin:0;
  background-color: #ccf5ff;
  padding-top:50px;
  padding-bottom: 50px;
}

.tour-video-section > .container > h2 {
  margin-top:50px;
  margin-bottom: 50px;
}

#hofit {
  font-size: 1.2em;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}
